<!DOCTYPE html>
<html>
 <head>
  {{{_sections.head}}}
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- Latest compiled and minified CSS -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
 </head>
 <body>
    <div class = 'container'>
        <h1>Create an Employee Award</h1>
        <p>Complete this form to personalize and preview an Employee award.</p>
        <h3>Award Details:</h3>
        <form id='addAward' action='award' method='post'>
            <label>Recipient Name: </label><br/><input type='text' name='recipient_name'></br>
            <label>Recipient Email: </label><br/><input type='text' name='recipient_email'></br>
            <label> Department:  </label><br/>
            <select name='department'> 
                {{#each departments}}
                <option value='{{id}}'>{{department_name}}</option>
                {{/each}}
            </select></br>
            <label> Region:  </label><br/>
            <select name='region'> 
                {{#each regions}}
                <option value='{{id}}'>{{region_name}}</option>
                {{/each}}
            </select></br>
            <label> Award Type:  </label><br/>
            <select name='awardtype'> 
                {{#each awardtypes}}
                <option value='{{id}}'>{{certificate_type}}</option>
                {{/each}}
           
            </select></br>
            <label>Awarded By: </label><br/>
            <select name='presenter'>
                {{#each presenters}}
                <option value='{{id}}'>{{name}}</option>
                {{/each}}
            </select>
        <br/>
        <label> Award Date:  </label><br/>
        <input type='date' name='date'><br/>
        <br/>
        <input type='submit' value='Create Award Record'>
    </form>
    </br>
    </div>
    <div class = 'container table'>
        <h3>Existing Award Records:</h3>
        <table>
            <thead>
                <th>Record ID</th> 
                <th>Award Type</th>
                <th>Award Date</th> 
                <th>Recipient</th>
                <th>Department</th>
                <th>Region</th>
                <th>Awarded By</th> 
            </thead>
         <tbody> 
        {{#each awardrecords}} 
        <tr> 
            <td>{{this.awardID}}</td> 
            <td>{{this.awardtype}}</td> 
            <td>{{this.award_date}}</td> 
            <td>{{this.recipient}} </td>
            <td>{{this.recipient_department}} </td>
            <td>{{this.recipient_region}}</td>
            <td>{{this.presenter}}</td>
                 
            <td><a href='/award/{{this.awardID}}'><input type='button' value='Preview'></a></td>

        </tr> 
        {{/each}} 
  
    </tbody> 
        </table>
    
    </div>
</body>
<footer>

</footer>

</html>