{{#if css}}
{{#each css}}
<link rel="stylesheet" href="{{this}}" type="text/css">
{{/each}}
{{/if}}
<h1 class="title">Award Record</h1>
<div class="tableContainer">
	<table id="userTable">
			<tbody id="tableBody">
				<tr id="tableHead">
					<th>Record ID</th> 
					<th>Award Type</th> 
					<th>Award Date</th> 
					<th>Recipient</th>
					<th>Department</th>
					<th>Region</th>
					<th>Presenter</th> 
				</tr>
				<tr class="row"> 
				 {{#each awardrecord}}
                <td>{{this.awardID}}</td> 
                <td>{{this.awardtype}}</td>            
                <td>{{this.award_date}}</td> 
                <td>{{this.recipient}} </td>
                <td>{{this.recipient_department}} </td>
                <td>{{this.recipient_region}} </td>
                <td>{{this.presenter}}</td>
					<td>
						<button class="actionButton" id="deleteAwardRec" onclick='deleteAwardRecord({{this.awardID}})'>Delete </button>
					</td>      
				</tr> 
			</tbody> 
	</table>
</div>
<p style="text-align:center;">
        <a href='../latexfiles/output/{{this.awardfilename}}.pdf' download='Award{{this.awardID}}.pdf'> <button class='download'>Download as PDF</button></a>                  
    <br>
    <br>
    <input type='button' class="actionButton" name='email' value='Email to Recipient' onclick=''>
        {{/each}} 
</p>
		</div>
	</body>


