<link rel="stylesheet" href="css/table.css" type="text/css">
<style>
var hostName = document.location.host;
var style = document.getElementsByTagName("link");
var i;

for(i = 0; i < style.length; i++){
        style[i].href = hostname + style[i].href;
}
</style>
<h1 class="title">Award Record</h1>
<div class="tableContainer">
	<table id="userTable">
			<tbody id="tableBody">
				<tr id="tableHead">
					<th>Record ID</th> 
					<th>Award Type</th> 
					<th>Award Date</th> 
					<th>Recipient</th>
					<th>Department</th>
					<th>Region</th>
					<th>Presenter</th> 
				</tr>
				<tr class="row"> 
					<td>{{awardrecord.awardID}}</td> 
					<td>{{awardrecord.awardtype}}</td>
					<td>{{awardrecord.date}}</td> 
					<td>{{awardrecord.recipient}} </td>
					<td>{{awardrecord.department_name}} </td>
					<td>{{awardrecord.region_name}} </td>
					<td>{{awardrecord.awarder}}</td>
					<td>
						<button class="actionButton" onclick='deleteAwardRecord({{awardrecord.awardID}})'>Delete </button>
					</td>      
				</tr> 
			</tbody> 
	</table>
</div>
<p style="text-align:center;">
        <a href='../latexfiles/output/{{awardrecord.awardfilename}}.pdf' download='Award{{awardrecord.awardID}}.pdf'> <button class='download actionButton'>Download as PDF</button></a>                
    <br>
    <br>
    <input type='button' class="actionButton" name='email' value='Email to Recipient' onclick=''>
</p>
