<!DOCTYPE html>
<html>
 <head>
     <title>Preview Award</title>

  <!-- Latest compiled and minified CSS-->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'> 

 </head>
 <body>
    <div class = 'container'>
        <h3>Award Record</h3>
        <div class = 'container table'>
            <table>
                <thead>
                    <th>Record ID</th> 
                    <th>Award Type</th> 
                    <th>Award Date</th> 
                    <th>Recipient</th>
                    <th>Department</th>
                    <th>Region</th>
                    <th>Presenter</th> 
                </thead>
            <tbody> 
            <tr> 
                <td>{{awardrecord.awardID}}</td> 
                <td>{{awardrecord.awardtype}}</td>            
                <td>{{awardrecord.date}}</td> 
                <td>{{awardrecord.recipient}} </td>
                <td>{{awardrecord.department_name}} </td>
                <td>{{awardrecord.region_name}} </td>
                <td>{{awardrecord.awarder}}</td>
                
                <td>
                    <button onclick='deleteAwardRecord({{awardrecord.awardID}})'>Delete </button></td>      
            </tr> 
            </tbody> 
            </table>
    </div>
        <a href='../latexfiles/output/{{awardrecord.awardfilename}}.pdf' download='Award{{awardrecord.awardID}}.pdf'> <button class='download'>Download as PDF</button></a>                
    <br>
    <br>
    <input type='button' name='email' value='Email to Recipient' onclick=''>

</body>
<footer>
</footer>

</html>
