<!DOCTYPE html>
<html>
 <head>
     <title>Preview Award</title>

  <!-- Latest compiled and minified CSS-->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'> 

 </head>
 <body>
    <div class = 'container'>
        <h3>Award Record</h3>
        <div class = 'container table'>
            <table>
                <thead>
                    <th>Record ID</th> 
                    <th>Award Type</th> 
                    <th>Award Date</th> 
                    <th>Recipient</th>
                    <th>Department</th>
                    <th>Region</th>
                    <th>Presenter</th> 
                </thead>
            <tbody> 
            <tr> 
                {{#each awardrecord}}
                <td>{{this.awardID}}</td> 
                <td>{{this.awardtype}}</td>            
                <td>{{this.award_date}}</td> 
                <td>{{this.recipient}} </td>
                <td>{{this.recipient_department}} </td>
                <td>{{this.recipient_region}} </td>
                <td>{{this.presenter}}</td>
                 
                <td>
                    <button onclick='deleteAwardRecord({{this.awardID}})'>Delete </button></td>   

            </tr> 
            </tbody> 
            </table>
    </div>
        <a href='../latexfiles/output/{{this.awardfilename}}.pdf' download='Award{{this.awardID}}.pdf'> <button class='download'>Download as PDF</button></a>                
    <br>
    <br>
    <input type='button' name='email' value='Email to Recipient' onclick=''>
    {{/each}} 
</body>
<footer>
</footer>

</html>
